<h2><%= @title %></h2>

<p><%= image_tag "/images/tatry1.jpg", :closed => true, :alt => @title, :title => @title %></p>

<p><a href="/winter">Tatra Mountains in Winter</a></p>
<p><%= link_to "Tatry Mountains Rescue Team", "/topr" %></p>
